Source: libjade-java
Priority: extra
Maintainer: Oficina de Software Libre da USC <osl@usc.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Section: java
Homepage: http://jade.tilab.com/

Package: libjade-java
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre
Description: Framework for implement multi-agent systems according to FIPA specifications
 JADE (Java Agent DEvelopment Framework) is a software
 Framework fully implemented in Java language. It
 simplifies the implementation of multi-agent systems
 through a middle-ware that complies with the FIPA
 specifications and through a set of graphical tools
 that supports the debugging and deployment phases.
 The agent platform can be distributed across machines
 (which not even need to share the same OS) and the
 configuration can be controlled via a remote GUI.
 The configuration can be even changed at run-time
 by moving agents from one machine to another one,
 as and when required. JADE is completely implemented
 in Java language and the minimal system requirement
 is the version 1.4 of JAVA (the run time environment
 or the JDK).
