Source: xug-software-meta
Section: metapackage
Priority: optional
Maintainer: CIXUG Developers <osl@cixug.es>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.8), germinate (>= 1.18)

Package: xug-software-bioestatistica
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: Metapackage with apps and tools for Biostatistic studies
 This package installs all the needed software on the
 Biostatistics studies
